.kittyListWindow {
  max-width: 100%;
  width: 260px;
  height: 300px;

  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
}

.colSpacing {
  margin-top: 10px;
}